<footer class="footer">
  <div class="container">
    <div class="footer-inner">

      <nav class="footer-navigation">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
      <nav class="footer-navigation">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
        <a href="{{ site.repo }}">GitHub</a>
        <a href="{{ site.repo }}/issues">Issues</a>
      </nav>

    </div>
  </div>
</footer>
