{% for post in site.posts %}

  <a class="tile" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.image %}
      <img class="tile-image" src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title }}">
    {% endif %}
    <h2 class="tile-title">{{ post.title }}</h2>
    <!-- <time class="tile-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time> -->
    <dl>
      {% if post.yield %}
        <dt>Yield</dt>
        <dd>{{ post.yield }}</dd>
      {% endif %}
      {% if post.prep_time %}
        <dt>Prep</dt>
        <dd>{{ post.prep_time }}</dd>
      {% endif %}
      {% if post.cook_time %}
        <dt>Cook</dt>
        <dd>{{ post.cook_time }}</dd>
      {% endif %}
    </dl>
    <p class="tile-description">{{ post.description }}</p>
  </a>

{% endfor %}