:root {
	font-size: 10px;

	@media (max-width: 640px) {
		font-size: 9px;
	}
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: 'Lora', serif;
	color: $dark-grey;
	background: $white;
}