.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $light-grey;
}

.header-navigation {
	display: inline-flex;

	a {
		padding: 1.5rem;
		font-size: 1.4rem;
		color: $dark-grey;
		text-decoration: none;
		border-right: 1px solid $light-grey;

		&:first-child {
			border-left: 1px solid $light-grey;
		}

		&:hover,
		&:focus {
			color: $dark-grey;
			text-decoration: none;
		}
	}
}

.header-title {
	margin: 0;
	font-size: 1.8rem;

	a {
		color: $dark-grey;

		&:hover,
		&:focus {
			color: $dark-grey;
			text-decoration: none;
		}
	}
}