@import 'normalize';


/*
 * Variables
 */

$gutter: 10px;

$serif: Georgia, Times, Times New Roman, serif;
$sans-serif: Gill Sans, Gill Sans MT, Calibri, sans-serif; 

$white: #FFF;
$black: #000;
$light: #FEFDF8;
$light-grey: #ECECEF;
$grey: #666;
$dark-grey: #333;
$dark: #222;


/*
 * Root
 */

:root {
	font-size: 10px;
}

html {
	height: 100%;
}

/*
 * Body
 */

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: $dark-grey;
	letter-spacing: 0.03rem;
	background: $light;
}

a {
	color: $grey;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $dark;
	}

	&:visited {
		
	}
}


/*
 * Container
 */

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter;
	padding-right: $gutter;
	max-width: 900px;
}


/*
 * Header
 */

.header {
	border-bottom: 1px solid $light-grey;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/*
 * Main Content
 */

.main-content {
	flex: 1;
	margin: 5rem 0;
}



/*
 * Tile
 */

.tile {
	display: flex;
	align-items: center;
	margin: 5rem 0;
	border: 1px solid $light-grey;
}

.tile-image {
	flex: 0 0 20rem;
	border-right: 1px solid $light-grey;

	img {
		width: 100%;
		height: auto;
	}
}

.tile-content {
	flex: 1;
	padding: 2rem;
}

.tile-title {

}

.tile-date {

}



/*
 * Recipe
 */

.recipe {
	
	ul,
	ol {
		margin: 5rem 0;

		li {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul li {
		margin: 0.5em 0;
	}

	ol li {
		margin: 1em 0;
	}
}

.recipe-header {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	text-align: center;
}

.recipe-image {
	margin: 0 auto;
	width: 100%;
	max-width: 20rem;
	height: auto;
}


/*
 * Typography
 */

h1,
h2 {
	font-family: $serif;
	font-weight: 300;
	color: $dark;
}

h1 {
	font-size: 3.2rem;
}

ul,
ol,
p {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2;
}

hr {
	height: 0;
	margin: 5rem auto;
	font-size: 1.6rem;
	color: $dark;
	text-align: center;
	border: none;

	&::before {
		content: "···";
		letter-spacing: 2em;
	}
}


/*
 * Footer
 */

.footer {
	border-top: 1px solid $light-grey;
}

.footer-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-navigation {
	
	a {
		display: inline-block;
		padding: 1.5rem;
		font-size: 1.4rem;
		color: $grey;
		text-decoration: none;
		border-right: 1px solid $light-grey;

		&:first-child {
			border-left: 1px solid $light-grey;
		}

		&:hover,
		&:focus {
			color: $dark-grey;
		}
	}
}
