.recipe {
	
	ul,
	ol {
		margin: 5rem 0;
	}

	ul {

		li {
			margin: 0.5em 0;
		}
	}

	ol {
		padding: 0;
		list-style: none;
		counter-reset: section;

		li {
			position: relative;
			margin: 2em 0;

			&::before {
				display: block;
				margin-bottom: 1em;
				font-family: $serif;
				font-size: 2rem;
				line-height: 1;
				counter-increment: section;
				content: 'Step ' counters(section, '.');
			}
		}
	}
}

.recipe-header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8rem;
	max-width: 40rem;
	text-align: center;
}

.recipe-image {
	margin: 0 auto 3.5rem;
	width: 100%;
	max-width: 20rem;
	height: auto;
}