.tile {
	display: block;
	margin: 3.5rem 0;
	padding: 1.5rem;
	border: 1px solid $light-grey;
	clear: both;
	transition: border $fast ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
		border: 1px solid $grey;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.tile-image {
	float: left;
	margin-right: 1.5rem;
	width: 100%;
	max-width: 8rem;
	height: auto;
}

.tile-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.tile-content {
	padding: 1.5rem;
}

.tile-title {
	margin: 0 0 0.5em 0;
}

.tile-description {
	font-size: 1.4rem;
}

.tile-date {

}