.tile {
	display: flex;
	align-items: center;
	margin: 5rem 0;
	border: 1px solid $light-grey;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.tile-image {
	flex: 0 0 12rem;
	border-right: 1px solid $light-grey;

	img {
		width: 100%;
		height: auto;
	}
}

.tile-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.tile-content {
	padding: 1.5rem;
}

.tile-meta {
	border-top: 1px solid $light-grey;

	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		flex: 1;
		margin: 0;
		padding: 1rem;
		font-size: 1.4rem;
		text-align: center;

		&:not(:last-child) {
			border-right: 1px solid $light-grey;
		}
	}
}

.tile-title {

}

.tile-description {
	font-size: 1.4rem;
}

.tile-date {

}