h1,
h2 {
	margin: 0 0 0.65em 0;
	font-family: $serif;
	font-weight: 300;
	color: $dark;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2rem;
}

ul,
ol,
p {
	margin: 1em 0;
	font-family: $sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.35;
	letter-spacing: 0.06rem;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ol,
ul {
	padding: 0 0 0 2em;

	li {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

hr {
	height: 0;
	margin: 8rem auto;
	font-size: 1.6rem;
	color: $dark;
	line-height: 1rem;
	text-align: center;
	border: none;

	&::before {
		margin-top: -0.5rem;
		margin-right: -3rem;
		content: "···";
		letter-spacing: 2em;
	}
}

time {
	margin: 1em 0;
	font-family: $serif;
	font-weight: 300;
	font-size: 1.2rem;
	color: $grey;
	line-height: 1;
	letter-spacing: 0.06rem;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

dl {
	margin: 0;
}

dt,
dd {
	display: inline-block;
	margin: 0;
	font-family: $sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.35;
	letter-spacing: 0.06rem;
}

dt {
	
}

dd {

}