$gutter: 10px;

$serif: Georgia, Times, Times New Roman, serif;
$sans-serif: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

$white: #FFF;
$black: #000;
$light: #FEFDF8;
$light-grey: #ECECEF;
$grey: #666;
$dark-grey: #333;
$dark: #222;